.layout.block {
  text-align: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.container-block {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  /* outline:1px solid teal; */
  width: 1200px;
}

.container-block__tittle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  color: $tittle-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.container-block__list {
  display: flex;
  margin-right: 0px;
  padding-bottom: 94px;
}

.container-block__item-card {
  width: calc((100% -30px * 3) / 4);
}

.container-block__item-card:not(:nth-child(4n)) {
  margin-right: 30px;
}


.container-block__item {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 370px;
  height: 294px;
}

.container-block__item-tittle {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.container-block__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.container-block__item-card {
  width: 270px;
  background-color: $color1;
}

.container-block__list-link {
  text-decoration: none;
  display: flex;
  padding-top: 9px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
